{% extends 'base.html' %}

{% block title %}后台管理系统{% endblock %}

{% block alone_js %}
    <script type="text/javascript" src="http://static.geetest.com/static/tools/gt.js"></script>
    <script type="text/javascript" src="/static/js/login.js"></script>
{% endblock %}

<!-- 左边内容分类 -->
{% block left_navigate_module %}
{% endblock %}
<!-- 左边内容分类 -->

<!-- 内容区域 -->
{% block content_body %}
<div class="container">
    <div style="height: 30px"></div>
    <div class="row">
        <div class="col-md-6">
            <form action="" method="post" class="form-horizontal" novalidate>
                {% csrf_token %}
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="{{ login_obj.username.id_for_label }}">{{ login_obj.username.label }}</label>
                    <div class="col-sm-10">{{ login_obj.username }}</div>
                    <span class="help-blog"></span>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="{{ login_obj.password.id_for_label }}">{{ login_obj.password.label }}</label>
                    <div class="col-sm-10">{{ login_obj.password }}</div>
                    <span class="help-blog"></span>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="v-code" class="v-code">验证码</label>
                    <div class="col-sm-6"><input type="text" id="v-code" class="form-control" autocomplete="off" placeholder="请输入验证码"></div>
                    <div class="col-sm-4" ><img src="/v_code/" id="v-code-img" alt="" style="width: 100%;height: 100%;border-radius: 10px"></div>
                    <span class="col-sm-10 col-sm-offset-2 error" id="error"></span>
                </div>
                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-2">
                        <button id="login_sv" type="button" class="btn-success btn" >登录</button>
                        <div id="popup-captcha"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
<!-- 内容区域 -->

<!-- 底部区域 -->
{% block footer %}
    {% include "footer_module.html" %}
{% endblock %}
<!-- 底部区域 -->

